/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import "~bootstrap-icons/font/bootstrap-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    background-color:#0f172a;
    
}

html,button {
    font-family: "Quicksand", "sans-serif";
}

body {
    margin: 0;
    /* border: 5px solid red; */
 }
 * {
    box-sizing: border-box;
}
.container_learn{
    background-color: antiquewhite;
    width: full;
    height: full;
}


