<div class="learn_header">
  <div class="bg-black h-10">
    <a class="text-3xl bg-black text-stone-300 ml-5" href="/"
      >ↂ Trading Partener</a
    >
  </div>

  <!-- <h1 class="bg-slate-800 font-mono w-full h-20 text-center text-4xl">
    Learn Trading
  </h1> -->
  <div class="doc_content p-32">
    <div>
      <h1
        class="text-5xl font-extrabold text-center mb-10 transition-shadow hover:text-pink-600"
      >
        Level Up Your Trading Skills <br />
      </h1>
    </div>
    <div class="w-1/2 h-20 text-center justify-center ml-96">
      <p class="text-2xl font-normal text-center">
        Whether you want to excel in web development, mobile development or
        strengthen your fundamental software engineering skills, there is a
        course for you.
      </p>
    </div>
  </div>
  <div
    class="card flex justify-center text-center font-normal text-3xl border border-blue-300"
  >
    <div class="card-header">Featured</div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <br />
      <a href="#" class="btn btn-primary border rounded-lg">Get Started</a>
    </div>
  </div>
  <!-- <section id="home">
    <div class="container w-full h-52 py-20">
      <div class="flex flex-col items-center z-20 md:flex-row">
        <div
          class="text-center mb-12 -mt-36 md:text-left md:w-1/2 md:pr-10 text-3xl"
        >
          <h1 class="title mb-4">Awesome App for Your Financial.</h1>
          <p class="leading-relaxed mb-10">
            This should be used to tell a story and let your users know a little
            more about app and it’s use, How can benefit them.
          </p>
          <button class="btn">Download app</button>
        </div>
        <div class="md:w-1/2">
          <img src="assets/body.png" alt="" />
        </div>
      </div>
    </div>
  </section> -->
  <div
    class="animation w-96 h-96 bg-gradient-to-r from-indigo-600 to-pink-500 absolute top-0 -left-5 -z-10 blur-2xl opacity-40 overflow-hidden rounded-full mt-px"
  ></div>

  <div class="container gap-28">
    <div
      class="flex text-center font-serif text-3xl justify-end align-bottom p-10 border rounded-3xl mt-10"
    >
      <a
        routerLink=""
        class="bg-purple-400 flex justify-center w-52 h-10 p-10 font-bold border border-5 border-fuchsia-700 rounded-3xl hover:text-black ease-in duration-300"
        (click)="openInNewPage('vedio')"
        >Videos</a
      >
    </div>

    <div
      class="flex font-serif text-center text-3xl p-10 border rounded-3xl mt-10 mb-20"
    >
      <a
        routerLink=""
        class="bg-pink-400 flex justify-center font-bold w-8 border border-fuchsia-700 rounded-3xl hover:text-black ease-in duration-300"
        (click)="openDocumnets('Documents')"
        >Documents</a
      >
    </div>
  </div>
  <div class="flex items-center">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img
            src="https://xtb.scdn5.secure.raxcdn.com/kb_main_photo/0102/92/9ecbe35a-70bc-4b2e-80aa-74c65b57e09f/kb_main_photo_front/1-trading-what-is-it.png"
            class="w-full img-fluid rounded-start border bg-fuchsia-400"
          />

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer. <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
              <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
      <div class="col mt-20">
        <div class="card">
          <img
            src="https://w7.pngwing.com/pngs/582/406/png-transparent-forex-trading-design-elments-coins-charts-sketch.png"
            class="w-full h-96"
          />

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer. <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
              <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
      <div class="col mt-20">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..." />
           -->
          <img
            src="https://e7.pngegg.com/pngimages/348/406/png-clipart-wall-street-investment-business-market-trade-company-people.png"
            class="w-full h-96"
          />

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer. <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
              <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
      <div class="col mt-20">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..." />
           -->
          <img
            src="https://w7.pngwing.com/pngs/582/406/png-transparent-forex-trading-design-elments-coins-charts-sketch.png"
            class="w-full h-96"
          />

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer. <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
              <br />
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
      <!-- <section id="section3" className="bg-purple-950">
        <div className="container py-10 px-20">
          <div className="flex flex-col items-center z-20 md:flex-row">
            <div className="md:w-1/2 mx-5">
              <a href="/">
                <img />
              </a>
            </div>
            <div
              className="text-center mb-12 md:text-left text-white md:w-1/2 md:pr-10"
            >
              <h1 className="text-4xl md:text-5xl font-bold leading-snug mb-4">
                {" "} Watch the replay of our Generative AI Summit
              </h1>
              <p className="leading-relaxed mb-5">
                {" "} We're brought together the VCs, founders, and innovation
                leaders driving the AI revolution to explore the incredible
                promise—and uncertain future—of generative AI. Watch the replay of
                our expert panels and hackathon showcase of gen AI prototypes, built
                by expert A.Teams in tandem with Fortune 500 leaders.
              </p>
            </div>
          </div>
        </div>
      </section> -->
    </div>
  </div>
</div>
